/* Reset general para ocupar toda la pantalla */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  /* El gris claro de fondo que se ve en ClicSalud */
  background-color: #f4f7f9; 
  background-attachment: fixed;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  overflow-x: hidden; /* Evita scroll horizontal innecesario */
}

/* Forzado de dimensiones para el contenedor principal si se desea exactitud */
#root {
  display: flex;
  flex-direction: column;
}

/* Personalización de la barra de scroll para que sea más fina y estética */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #0090d0;
  border-radius: 4px;
}